@import url(https://fonts.googleapis.com/css?family=Kelly+Slab&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, main-notes, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;  
}
/*pre*/
body {position:relative; z-index:0; cursor: url(../img/Hand1.cur), default!important;}
a:hover {cursor: url(../img/Hand2.cur), pointer!important;}
.center {text-align: center!important;}
.clr {clear: both;}
input:focus, select:focus, option:focus {outline:none;}
.middleblock {min-height: 100%; width: 100%; min-width: 1280px; background: url(../img/bg.jpg) 50% 50% no-repeat fixed; background-size: cover; position:relative; z-index:1; box-shadow: inset 0px -30px 30px -20px rgba(0, 0, 0, 0.75);}
/*end of pre*/
/*header*/
/*main page header .header {height: 100%; width: 100%; background-image: url(http://eune.leagueoflegends.com/sites/default/files/upload/art/teambuilder-wallpaper.jpg); transition: all 200ms linear; background-size: cover; background-position: 100% 50%;} */
.header {width: 100%; height: 200px; background: url(../img/top_bg.jpg) 50% 50% fixed; background-size: cover; box-shadow: 0px 5px 30px 20px rgba(0,0,0,0.56); display: table; z-index: 10;}
.inheader {width: 1280px; margin: 0 auto; height: 200px; min-width: 1280px;}
.sitename_block {display: table-cell; height: 200px; vertical-align: middle;}
.account_log {height: 20px; padding-right: 2px; border-right:1px solid #fff; border-top:1px solid #fff;}
.account_reg {height: 20px; padding-left: 2px; margin-right: 2px; border-bottom:1px solid #fff;}
.search_form {display: block; float: left;}
.search_input {display: none; float: left; opacity: 0; position: absolute; right: 20px;}
.statusbar {display: table-cell; height: 60px; width: 100%; padding: 5px 0 5px 0;}
.sitename {width: 250px; color: #fff; font-family: 'Open Sans Condensed', cursive;}
.notifbar {font-size: 16px; text-align: right; text-transform: uppercase; color: #fff;position: relative; }
.notifbar a {color: #fff; transition: 0.2s; text-decoration: none; font-family: 'Open Sans Condensed', sans-serif;}
.notifbar a:hover {color: #000;}
.notifbar>div>div {display: block; float: left; line-height: 20px;}
.nbar {position: absolute; right: 0; height: 20px;}
.nbar input {border: 0; height: 22px; }
.search {background-image: url('../img/search.png'); background-repeat: no-repeat;}
.search:hover {background-color: #fff; background-image: url('../img/search_on.png'); background-repeat: no-repeat; cursor: url(../img/Hand2.cur), pointer}
.menubar {position: absolute; top: 20px; right: 0; height: 150px; width: 75%;}
.menubar ul {list-style-type: none; font-family: 'Open Sans Condensed', sans-serif;}
.menubar ul li {display: inline-block; vertical-align: middle; text-align: center; font-size: 30px; line-height: 150px; padding: 0 12px 0 12px; position: relative;}
.menubar ul li a {display: inline; position: relative; padding: 5px; border-bottom: 4px solid #fff;}
.menubar ul li a:hover {border-color:#000; color: #000;}
.menubar ul li a:hover:after{border-bottom-color:#000;}
.menubar ul li a:after, .arrow_box:before {bottom: 0px; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.menubar ul li a:after {border-color: rgba(136, 183, 213, 0); border-bottom-color: #fff; border-width: 10px; margin-left: -10px;}
/*end of header*/

/*content*/
.content {width: 1280px; margin: 0 auto; border-top: none; color: #ccc; background: url(../img/border_bg_1280.png) repeat-y; z-index: 0; font-family: 'Open Sans Condensed', sans-serif;}
.wrapper {min-height: 100%; padding: 5px 20px 5px 20px;}

.guide_name {text-align: center; height: 36px; width: 300px;  font-size: 18px; padding: 2px; border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid;}
.center_container {padding-top: 20px; padding-bottom: 20px;}
.finnish, select, .addblock {text-align: center; height: 36px; width: 200px; font-size: 14px; padding: 4px; border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid;}
select option {background-color: #c68811; color: #222;}
.guide_name:hover, select:hover, .finnish:hover, .addblock:hover, .del_item_block:hover {background-color: #f9bb33; transition: 0.3s; cursor: url(../img/Hand2.cur), pointer;}

.prop_block {height: 36px; position: relative;}
.prop_title {position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; line-height: 36px; color: #000; font-weight: bold; height: 36px; width: 47px;}
.addblock {display: block; position: absolute; right: 0;}
.champion {display: block; position: absolute; left: 0;}
.item_block {color: #000; font-size: 18px; padding: 5px; display: block; position: relative; border-bottom: 3px solid #d79922; background-color: #cdcdcd;}
.block_stuff {padding-bottom: 5px;}
.active_item_block {background-color: #aaa;}
.del_item_block {color: 000; padding: 0; position: absolute; top: 2px; right: 2px; height: 30px; width: 30px; border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid;}
.additional_stuff {display: block; margin-top: 10px; text-align: center;}
.additional_stuff  span {text-transform: uppercase; font-size: 18px; border: 1px solid #d79922; color: #d79922; font-weight: bold; padding: 3px;}
.add_stuff tr td {color: #fff;}

.chosen_item {display: inline-block; width: 75px; height: 75px; background-size: cover;}
.chosen_item div {height: 100%; width: 100%; background: url(../img/cancel.png); background-size: cover; opacity: 0; transition: 0.2s;}
.chosen_item:hover div {opacity: 0.8;}

.reg_form {margin-top: 15px; text-align: center;}
.reg_form p {padding: 5px;}
.reg_send_button {border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; transition: 0.2s; padding: 5px; font-size: 16px; color: #fff;}
.reg_send_button:hover {background-color: #f9bb33; transition: 0.3s; cursor: url(../img/Hand2.cur), pointer;}

/*shop*/
.shop {width: 100%; height: 500px;}
.shop_block {width: 50%; float: left; background: black; height: 100%;}
.apeend_items {width: 50%; background: #DEDEDE; margin-left: 50%; height: 100%; border: 3px inset #ccc; box-sizing: border-box; overflow: auto;}
.sort_block {float: left; height: 100%; width: 200px; background-color: #263439; overflow: auto; border: 3px inset #ccc; box-sizing: border-box;}
.sort_block ul li {list-style-type: none; display: block; padding-left: 5px; border: 2px solid transparent;}
.sort_block ul li:hover {background-color: #274; cursor: url(../img/Hand2.cur), pointer;}
.active_sort_block {border: 2px solid #6b8!important;}
.sort_block >ul>div {background-color: #222; padding-left: 12px; font-size: 18px; color: #4F6453; font-weight: bold;}
.item_list_block {width: 420px; height: 100%; overflow: auto; position: relative; border: 3px inset #ccc; box-sizing: border-box; background: url(../img/shop_bg.png) repeat;}
.gamecmpblock{text-align:center; width: 75px; height: 75px; margin: 12px; float: left; background-size: cover; border: 0; font-size: 14px;}
.gamecmp {text-align:center; width: 50px; height: 50px; margin: 12px 12px 6px 12px; float: left; background-size: cover; border: 0;}
.gamecmp:hover {cursor: url(../img/Hand2.cur), pointer;}
/*end of shop*/

/*search page*/
.search_add_st {padding-top: 10px; width: 100%; text-align: left;}
.additional_stuff_s {display: block; margin-top: 10px; text-align: left; margin-left: 10px; display: block; border-top: 3px solid #d79922; margin-left: 0;}
.additional_stuff_s span {text-transform: uppercase; font-size: 18px; border: 3px solid #d79922; color: #d79922; font-weight: bold; padding: 3px; padding-top: 0;}
.guide_name_s {text-align: center; height: 36px; width: 300px;  font-size: 18px; padding: 2px; border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #eee; border-width: 3px; border-style: solid;}
.champion_s {display: inline-block; margin-top: 10px;}
.container_cmp {width: 300px; text-align: center;}

.build_block {width: 100%; border: 3px inset #ccc; border-bottom: 0; border-collapse: collapse; margin-top: 20px; margin-bottom: 10px;}
.build_block tr {border-bottom: 3px inset #ccc;}
.build_bk_img {border-spacing: 0; height: 75px; width: 75px; box-sizing: border-box; background-size: cover; border-right: 3px solid #888;}
.build_bk_inf_l {padding-left: 10px; padding-right: 10px; width: 532px; height: 75px; box-sizing: border-box;}
.bld_bk_name {font-size: 25px; height: 40px; line-height: 40px;}
.bld_bk_name a {color: #fff;}
.bld_bk_auth {color: #ccc;}
.bld_bk_auth a {color: #ddd;}
.bld_bk_auth a:hover {color: fff;}
.bld_bk_auth {font-size: 16px; height: 35px; line-height: 35px;}
.build_bk_inf_r {height: 75px; width: 532px; box-sizing: border-box; vertical-align: middle;}
.bld_bk_sc {width: 100px; height: 75px; box-sizing: border-box; text-align: center;}
/*end of search page*/

/*build page*/
.buld_info_blk {padding-left: 20px;}
.buld_info_blk_img {background-image: url(http://www.mobafire.com/images/champion/icon/ahri.png); width: 100px; height: 100px; background-size: cover; float: left; border: 3px inset #ccc;}
.buld_info_blk_container {height: 100px; margin-left: 120px;}
.buld_info_blk_auth {height: 60px; font-size: 20px; line-height: 60px;}
.buld_info_blk_auth a {color: #ccc;}
.buld_info_blk_auth a:hover {color: #ddd;}
.buld_info_blk_about {height: 40px; font-size: 18px; line-height: 40px;}
.build_blocks_bp {padding: 20px; }
.build_block_bp {position: relative; color: #fff; display: inline-block; margin: 10px 10px 0 0;}
.bld_bk_name_p {text-transform: uppercase; font-size: 18px; float: left; padding: 2px; border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; border-bottom: 0; margin-right: 3px;}
.bld_bk_comment_p {font-size: 16px; height: 24px; line-height: 24px; position: relative; display: inline-block; padding: 2px; border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; border-bottom: 0; width: 59px;}
.bld_bk_comment_p:before {content: "COMMENT";}
.bld_bk_comment_p p {opacity: 0; transition: 0.2s; display: none; color: #000; padding: 3px; width: 350px; position: absolute; top: -3px; left: 72px; z-index: 300; background: #DEDEDE; border: 3px inset #ccc;}
.bld_bk_comment_p p:before {position: absolute; content: ''; width:0; height: 0; border:6px solid transparent; border-right-color:#ccc; left: -15px; top:8px;}
.bld_bk_comment_p:hover p {opacity: 1; display: block;}
.bld_bk_comment_p:hover, .bld_bk_name_p:hover {}
.bld_bk_item_p {display: inline-block; border: 3px inset #ccc; height: auto;}
.bld_bk_item_container {float: left; margin: 5px;}
.bld_bk_item_img {background-size: cover; height: 75px; width: 75px;}
.bld_bk_item_name {width: 75px; text-align: center; font-size: 14px; color: #ccc;}
/*end of build page*/
/*end of content*/

/*footer*/
.footer{height: 245px; font-size:12px; position:relative; z-index:-2; background-color:#31353a; background: url(../img/top_bg.jpg) 50% 50% fixed; background-size: cover; box-shadow: inset 0px -30px 30px -20px rgba(0, 0, 0, 0.75); width: 100%; min-width: 1280px;}
.footer > ul{ width:960px; position:fixed; left:50%; bottom:0; margin-left:-480px; padding-bottom: 60px; z-index:-1; color: #fff; font-family: 'Open Sans Condensed', cursive; min-width: 960px;}
.footer > ul > li{ width:25%; float:left; list-style-type: none;}
.footer > ul > li ul li{list-style: none; margin-left:43px; text-transform: uppercase; font-weight:bold; line-height:1.8; color:#ccc;}
.footer > ul > li ul li a{ text-decoration: none !important; color:#7d8691 !important;}
.footer > ul > li ul li a:hover{color:#ddd !important;}
.footer a.logo{ color: #e4e4e4 !important; text-decoration: none !important; font-size: 14px; font-weight: bold; position: relative; text-transform: uppercase; margin-left: 16px; display: inline-block; margin-top: 7px;}
.footer a.logo i{ font-style: normal; position: absolute; width: 60px; display: block; top: 18px; font-size: 12px; color: #999;}
.footer p{ width: 90%; margin-right: 10%; padding: 9px 0; line-height: 18px; background-color: rgba(210,210,210,1); font-weight: bold; font-size: 14px; color:#fff; text-transform: uppercase; text-shadow: 0 1px rgba(0,0,0,0.1); box-shadow: 0 0 3px rgba(0,0,0,0.3); margin-bottom: 20px; opacity:0.9; background-image: linear-gradient(to top right, rgba(215,153,34,1), rgba(249,187,51,1)); border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; background-size: cover; -webkit-transition: opacity 0.4s; -moz-transition: opacity 0.4s; transition: opacity 0.4s;}
.footer > ul > li:hover p{opacity:1;}
.footer p:before{ content: ''; display: inline-block; background: url('../img/sprite.png') no-repeat; width: 16px; height: 18px; margin: 0 12px 0 15px; vertical-align: text-bottom;}
.footer p.home:before{ background-position: 0 -110px;}
.footer p.services:before{ background-position: 0 -129px;}
.footer p.reachus:before{ background-position: 0 -89px;}
.footer p.clients:before{ background-position: 0 -69px;}
/*end of footer*/

/*main page*/
.champions {width: 869px; float: left;}
.un_cmp {display: inline-block; height: 75px; width: 75px; background-size: cover; border: 3px inset #ccc; margin: 20px;}
.popular {width: 351px; float: left; padding-top: 20px;}
.popular_name {border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; padding: 5px; text-align: center; text-transform: uppercase; font-size: 20px; color: #fff;}
.popular_cont {border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; border-top: 0; background-color: #cdcdcd;}
.popular_build {border-spacing: 0; border-collapse: collapse; height: 50px; border-bottom: 3px solid #777;}
.pop_bld_img {height: 50px; width: 50px; background-size: cover; padding: 0;}
.pop_bld_name {width: 295px; height: 50px; font-size: 16px; color: #000;}
.pop_bld_name_n {height: 30px; width: 285px; line-height: 30px; font-size: 19px; color: #000; padding-left: 10px;}
.pop_bld_name_n a {color: #666;}
.pop_bld_name_n a:hover {color: #d79922;}
.pop_bld_name_a {height: 20px; width: 285px; line-height: 20px; font-size: 16px; color: #666; padding-left: 10px;}
.pop_bld_name_a a {color: #666;}
.pop_bld_name_a a:hover {color: #d79922;}
/*end of main page*/

.howto {border: 1px solid #d79922; margin: 20px;}
.howto>div {padding: 5px;}
.howto_name {color: #d79922; text-align: center; text-transform: uppercase; font-size: 20px;}
.howtoline {border: 0; background: #d79922; height: 1px;}
.howto_desc {padding-left: 10px; text-transform: uppercase; font-size: 16px;}
.download a{border-color: #f6c653 #bd6a23 #b6631f #e8ab4a; background-color: #d79922; border-width: 3px; border-style: solid; padding: 5px; color: #fff; text-decoration: none;}
.download a:hover {background-color: #f9bb33; transition: 0.3s; cursor: url(../img/Hand2.cur), pointer;}
.howto_desc table{color: #fff;}
.howto_desc table tr td {padding-left: 5px;}