<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://itelit.mysql.ukraine.com.ua:3306/itelit_dor?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">itelit_dor</property>
        <property name="hibernate.connection.password">s8vx9jm5</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.starr.smartbuilds.entity.Item"/>
        <mapping class="com.starr.smartbuilds.entity.Tag"/>
        <mapping class="com.starr.smartbuilds.entity.Champion"/>
        <mapping class="com.starr.smartbuilds.entity.User"/>
        <mapping class="com.starr.smartbuilds.entity.Category"/>
        <mapping class="com.starr.smartbuilds.entity.Build"/>
    </session-factory>
</hibernate-configuration>
